<a href="https://colab.research.google.com/github/Kyoung-mii/Data-Analysis-with-Open-Source_mii/blob/main/Chapter02_PythonForDataAnalysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 2.1 list와 dicationary

## 1. list slicing
```
리스트이름[시작인덱스:끝인덱스:간격]
```
- 시작 인덱스 : 기본값 0, 슬라이싱을 시작할 위치
- 끝 인덱스 : 종료 위치
- 간격 : 기본값 1

### [2-1] 리스트에서 특정 범위 요수 추출

In [1]:
numbers = [10, 20, 30, 40, 50, 60, 70]
subset1 = numbers[0:3]
print(subset1)

[10, 20, 30]

### [2-2] 리스트에서 특정 범위 요소 추출
numbers[ :4] : 시작 인덱스를 생략하여 처음부터 3번 인덱스 까지 추출
numbers[-3:] 끝에서 n번째 인덱스부터 마지막 요소까지 추출 , 음수인덱스는 리스트의 끝에서부터 요소를 선택

In [3]:
numbers = [10, 20, 30, 40, 50, 60, 70]
first_four = numbers[ :4] #[0:4]
print(first_four)
last_three = numbers[-3:] #[-3:7]
print(last_three)

[10, 20, 30, 40]
[50, 60, 70]

### [2-3] 간격을 활용한 리스트 슬라이싱의 예

In [4]:
numbers = [10, 20, 30, 40, 50, 60, 70]
every_other_list = numbers[::2]
print(every_other_list)
reverse_list = numbers[::-1] # 역순
print(reverse_list)

[10, 30, 50, 70]
[70, 60, 50, 40, 30, 20, 10]

### [2-4] 다차원 리스트 슬라이싱 예

In [5]:
matrix = [[1,2,3,4],
          [5,6,7,8],
          [9,10,11,12],
          [13,14,15,16]]
first_two_rows = matrix[:2]
print(first_two_rows)
first_two_cols = [[row[:2] for row in matrix]]
print(first_two_cols)

[[1, 2, 3, 4], [5, 6, 7, 8]]
[[[1, 2], [5, 6], [9, 10], [13, 14]]]

### [2-5] 리스트 슬라이상을 사용한 리스트 값 변경

In [6]:
numbers = [10, 20, 30, 40, 50, 60, 70]
numbers[2:5] = [300,400,500]
print(numbers)

[10, 20, 300, 400, 500, 60, 70]

In [89]:
# 짝수인덱스의 요소마나 출력하는 코드를 작성해라.
numbers = [10, 20, 30, 40, 50, 60, 70, 80, 90]
even_numbers = numbers[1::2]
print(even_numbers)

[20, 40, 60, 80]

## 2. list comprehension

```
[표현식 for 변수 in 리스트이름]
[표현식 for 변수 in 리스트이름 if 조건]

```
list, tuple, dictionary, str, set, range

### [2-6] 일반적인 리스트 생성

In [7]:
numbers = []
for i in range(5):
    numbers.append(i)

print(numbers)

[0, 1, 2, 3, 4]

### [2-7] 리스트 컴프리헨션을 사용한 리스트 생성

In [8]:
numbers = [i for i in range(5)]
print(numbers)

[0, 1, 2, 3, 4]

### [2-8] 일반적인 리스트 값 변경을 통한 리스트 생성

In [9]:
numbers = [1,2,3,4,5]
squares = []
for num in numbers:
    squares.append(num**2)

print(squares)

[1, 4, 9, 16, 25]

### [2-9] 리스트 컴프리헨션을 통한 값이 변경된 리스트 생성

In [11]:
numbers = [1,2,3,4,5]
squares = [num**2 for num in numbers]
print(squares)

[1, 4, 9, 16, 25]

### [2-10] 조건을 만족하는 원소만 선택하여 리스트 생성

In [13]:
numbers = [1,2,3,4,5,6,7,8,9,10]
even_numbers = []
for num in numbers:
    if num % 2 == 0:
        even_numbers.append(num)
print(even_numbers)

[2, 4, 6, 8, 10]

### [2-11] 리스트 컴프리헨즈을 사용한 ㅌㄱ정 원소 선택 후 리스트 생성

In [15]:
numbers = [1,2,3,4,5,6,7,8,9,10]
even_numbers = [num for num in numbers if num % 2 == 0]
print(even_numbers)

[2, 4, 6, 8, 10]

### [2-12] 두 리스트의 모든 조합을 포함하는 리스트 생성

In [17]:
list1 = ['사과', '복숭아', '바나나']
list2 = ['주스', '잼', '통조림']
pairs = []
for fruit in list1:
    for product in list2:
        pairs.append((fruit, product))

print(pairs)

[('사과', '주스'), ('사과', '잼'), ('사과', '통조림'), ('복숭아', '주스'), ('복숭아', '잼'), ('복숭아', '통조림'), ('바나나', '주스'), ('바나나', '잼'), ('바나나', '통조림')]

### [2-13] 리스트 컴프리헨션을 사용하여 두 리스트의 모든 조합을 포함한 리스트 생성

In [18]:
list1 = ['사과', '복숭아', '바나나']
list2 = ['주스', '잼', '통조림']
pairs = [(fruit, product) for fruit in list1 for product in list2]
print(pairs)

[('사과', '주스'), ('사과', '잼'), ('사과', '통조림'), ('복숭아', '주스'), ('복숭아', '잼'), ('복숭아', '통조림'), ('바나나', '주스'), ('바나나', '잼'), ('바나나', '통조림')]

## 3. dictionary comprehension

```
{키: 값 for 변수 in 반복가능한객체}
{키: 값 for 변수 in 반복가능한객체 if 조건
```

### [2-14] 일반적인 반복문을 사용한 방법

In [19]:
squares = {}
for i in range(5):
    squares[i] = i ** 2
print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

### [2-15] dictionary comprehension을 사용한 방법

In [20]:
squares = {i : i ** 2 for i in range(5)}
print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

### [2-16] 특정 조건을 적용한 방법

In [21]:
even_squares = {num: num ** 2 for num in range(10) if num % 2 == 0}
print(even_squares)

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

### [2-17] 다양한 조건을 사용한 데이터 필터링

In [22]:
city_population = {'서울':957, '부산':339, '인천':294, '대구':242, '광주':145,
                   '대전':147, '울산':114, '세종':36, '수원':115, '창원':103,
                   '고양':105, '용산':108, '성남':94
                   }
large_cities = {city: pop for city, pop in city_population.items()
                                if pop >= 200}
print('인구 200만 명 이상의 도시', large_cities)

large_short_name_cities = {city:pop for city, pop in city_population.items()
                                if pop >= 300 and '산' in city}
print('인구 300만 명 이상의 \'산\' 글자가 포함된 도시: ', large_short_name_cities )

인구 200만 명 이상의 도시 {'서울': 957, '부산': 339, '인천': 294, '대구': 242}
인구 300만 명 이상의 '산' 글자가 포함된 도시:  {'부산': 339}

### [2-19] 일반적인 딕셔너리 값 변경

In [23]:
scores = {'김철수':45, '이영희':38, '박지성':49 ,'최민수':30, '정수정':42 }
percentage_scores_new = {name:(score/50)*100 for name, score in scores.items()}
print('딕셔너리 컴프리헨션 결과 :', percentage_scores_new)

딕셔너리 컴프리헨션 결과 : {'김철수': 90.0, '이영희': 76.0, '박지성': 98.0, '최민수': 60.0, '정수정': 84.0}

# 2.2 데이터 입출력

## 1. 문자열 형식 지정
* C 스타일(% 연산자) 포맷팅
* str.format() 메서드를 이용한 포맷팅
    ```
    '문자열 {위치 또는 이름}'.format(인자)
    ```
    * 위치인수(순서대로) : '{}.format(값)
    * 위치인수(인덱스) : '{0}'.format(값)
    * 키워드인수 : '{키워드}'.format(키워드=값)
    * 혼합사용 : '{0}{키워드}'.format(값, 키워드=값)
* f-문자열(formatted string literal)

### [2-20] 형식 지정자를 사용한 변수 삽입

In [24]:
item = '프린터'
price = 360000
print('상품명: %s, 가격: %d ' %(item, price))

상품명: 프린터, 가격: 360000

### [2-21] str.format() 메서드를 통한 문자열 형식 지정

In [28]:
name = '홍길동'
age = 30
salary = 3500000
tax_rate = 0.1
basic_format = '이름: {}, 나이: {}, 월급: {}원 '.format(name, age,salary)
index_format = '직원 {0}의 나이는 {1}세이고, {0}의 세후 월급은 {2}원입니다.'\
                .format(name, age, int(salary * (1 - tax_rate)))
keyword_format = '직원정보:이름:{employee} 나이:{years}세 \
월급 : {income:,}원 세금:{tax:.1%} 실수령액:{net_income:,}원'.format(
    employee = name, years = age, income = salary, tax = tax_rate,
    net_income = int(salary * (1-tax_rate)))
print(basic_format)
print(index_format)
print(keyword_format)

이름: 홍길동, 나이: 30, 월급: 3500000원
직원 홍길동의 나이는 30세이고, 홍길동의 세후 월급은 3150000원입니다.
직원정보:이름:홍길동 나이:30세 월급 : 3,500,000원 세금:10.0% 실수령액:3,150,000원

### [2-22] f-문자열(1)

In [27]:
name = '홍길동'
age = 30
print(f'이름: {name}, 나이: {age}')

이름: 홍길동, 나이: 30

### [2-23] f-문자열(2)

In [32]:
name = '홍길동'
age = 30
salary = 3500000
tax_rate = 0.1

basic_format = f'이름: {name}, 나이: {age}, 월급: {salary}원 '
index_format = f'직원 {name}의 나이는 {age}세이고, {name}의 세후 월급은\
 {int(salary * (1 - tax_rate))}원입니다.'
keyword_format = f'직원정보:이름:{name} 나이:{age}세 \
월급 : {salary:,}원 세금:{tax_rate:.1%} 실수령액:{int(salary * (1-tax_rate)):,}원'
print(basic_format)
print(index_format)
print(keyword_format)

이름: 홍길동, 나이: 30, 월급: 3500000원
직원 홍길동의 나이는 30세이고, 홍길동의 세후 월급은 3150000원입니다.
직원정보:이름:홍길동 나이:30세 월급 : 3,500,000원 세금:10.0% 실수령액:3,150,000원

## 2. context management
: 자원을 효율적이고 안전하게 사용할 수 있도록하는 매커니즘

### [2-24] open()함수와 close() 메서드

In [33]:
file = open('output.txt', 'w')
file.write('Hello, world!\n')
file.close()

### [2-25] with문 사용 예(1)

In [35]:
with open('output1.txt','w') as file:
    file.write('Hello, World!\n')
    file.write('Hello, World!\n')

### [2-26] with문 사용 예(2)

In [37]:
with open('output1.txt','r') as in_file, open('output_2.txt','w') as out_file:
    for line in in_file:
        out_file.write(line.upper())

### [2-27] with문 사용 예(3)

In [39]:
import urllib.request
with urllib.request.urlopen('https://raw.githubusercontent.com/Kyoung-mii/Data-Analysis-with-Open-Source/refs/heads/main/Chapter%203/students.csv') as response:
    data = response.read().decode('utf-8')
print(data)

학번,이름,데이터베이스,파이썬,클라우드
101,김철수,85,78,92
102,이영희,76,82,78
103,박지민,92,95,85
104,최준서,63,70,75
105,정미나,88,84,91

# 2.3 파이썬 문법 요소

## 1. 언패킹(unnpacking)
: 시퀸스 자료형(리스트, 튜플, 문자열 등)에서 여러 개의 값을 개별 변수에 분리하여 할당하는 기능

```
변수1, ..., 변수n = 시퀸스_객체
변수1, ..., *변수n-1, 변수n = 시퀸스_객체
```

### [2-28] unpacking 사용 예(1)

In [40]:
coordinates = (10, 20)
x, y = coordinates
print(f'x좌표: {x}, y좌표: {y}')
rgb = [255,128, 0]
red, green, blue = rgb
print(f'red:{red}, green:{green}, blue:{blue}')
word = 'ABC'
first, second, third = word
print(f'first:{first}, second:{second}, third:{third}')

x좌표: 10, y좌표: 20
red:255, green:128, blue:0
first:A, second:B, third:C

### [2-29] 함수에서 여러 값을 반환하는 언패킹

In [42]:
def get_dataset_stats(values):
    return min(values), max(values), sum(values)/len(values)

data = [12, 8, 21, 17, 5, 32, 14]
minmum, maxmum, average = get_dataset_stats(data)
print(f'minmum:{minmum}, maxmum:{maxmum}, average:{average:.2f}')

minmum:5, maxmum:32, average:15.57

### [2-30] 언패킹 사용 예(2)

In [44]:
student_scores = [('김철수', 85, 92, 78),
                  ('이영희', 92, 88, 95),
                  ('박지민', 75, 83, 90)]
for name, database, python, cloud in student_scores:
    average = (database + python + cloud)/3
    print(f'{name}의 평균 점수 : {average:.1f}')

김철수의 평균 점수 : 85.0
이영희의 평균 점수 : 91.7
박지민의 평균 점수 : 82.7

### [2-31] 확장 언패킹 사용 옝

In [50]:
monthly_sales = [1200, 1350, 1420, 1500, 1300, 1580, 1620, 1700, 1800,
                 1850, 1900, 2000]
first, second, *remaining = monthly_sales
print(f'1월 판매액:{first}')
print(f'2월 판매액:{second}')
print(f'나머지 월 판매액:{remaining}')

first, *middle, last = monthly_sales
print(f'1월 판매액:{first}')
print(f'마지막 월 판매액:{last}')
print(f'중간달 월 판매액:{middle}')

1월 판매액:1200
2월 판매액:1350
나머지 월 판매액:[1420, 1500, 1300, 1580, 1620, 1700, 1800, 1850, 1900, 2000]
1월 판매액:1200
마지막 월 판매액:2000
중간달 월 판매액:[1350, 1420, 1500, 1300, 1580, 1620, 1700, 1800, 1850, 1900]

In [87]:
# f-문자열을 사용하여 출력하시오,
name = '홍길동'
age = 25
salary = 35000000

print(f'이름 : {name}, 나이 : {age}세, 월급 : {salary:,}원')

이름 : 홍길동, 나이 : 25세, 월급 : 35,000,000원

## 2. underscore(_, 언더스코어)
: 반복 변수의 값이 필요하지 않을 때 이름을 대체하는 역할

### [2-23] for문에서 언더스코어 활요

In [52]:
for _ in range(5):
    print('Hello, Data Analysis with open Source!')

Hello, Data Analysis with open Source!
Hello, Data Analysis with open Source!
Hello, Data Analysis with open Source!
Hello, Data Analysis with open Source!
Hello, Data Analysis with open Source!

###[2-33] 언더스크어 사용 예(1)

In [54]:
students = [(20241234, '김철수', 2, 3.8),
            (20265678, '이영희', 3, 4.2),
            (20243456, '박민수', 1, 3.5)]
print('이름과 성적 출력')
for _, name, _, grade in students:
    print(f'{name}의 성적 : {grade}')

이름과 성적 출력
김철수의 성적 : 3.8
이영희의 성적 : 4.2
박민수의 성적 : 3.5

### [2-34] 언더스코어 사용 예(2)

In [56]:
def get_coordinates():
    return (10,20,30)

_, y, _ = get_coordinates()
print(y)

20

## 3. 예외 처리(Exception handling)
* try-except 문
* finally 블록

### [2-35] 예외가 발생하는 예

In [58]:
number = int(input('정수를 입력하세요: '))
result = 10 / number
print(f'결과: {result}')

정수를 입력하세요: 0

ZeroDivisionError: division by zero

### [2-36] try-except문 사용 예(1)

In [59]:
try:
    result = 10 /0
except ZeroDivisionError:
    print('0으로 나눌 수 없습니다.')

0으로 나눌 수 없습니다.

### [2-37] try-except문 사용 예(2)

In [60]:
try:
    number = int(input('숫자를 입력하세요: '))
    result = 10 / number
except ValueError:
    print('유효한 숫자를 입력해야 합니다.')
except ZeroDivisionError:
    print('0으로 나눌 수 없습니다.')

숫자를 입력하세요: ㄴㅇ
유효한 숫자를 입력해야 합니다.

### [2-38] finally 블록

In [62]:
try:
    numbers = [1, 2, 3]
    print(numbers[3])
except IndexError as e:
    print(f'예외 발생: {e}')

예외 발생: list index out of range

### [2-39] finally 블록 사용 예

In [63]:
try:
    file = open('data.csv', 'r')
    content = file.read()
    print(content)
except FileNotFoundError:
    print('파일을 찾을 수 없습니다.')
finally:
    print('파일 작업 종료')
    file.close()

파일을 찾을 수 없습니다.
파일 작업 종료

In [86]:
# try-except-finally구문을 사용하여 파일 data.txt를 안전하게 열고 내용을 읽은 후 파일을 닫는 코드를 작성하시오.
# 파일이 존재 하지 않을 경우 파일을 찾을 수 없습니다.라는 메시지 출력
try:
    file = open('data.txt', 'r')
    content = file.read()
    print(content)
except  FileNotFoundError:
    print('파일을 찾을 수 없습니다.')
finally:
    print('파일 작업 종료')
    file.close()

파일을 찾을 수 없습니다.
파일 작업 종료

# 2.4 함수형 프로그래밍(functional programming)
: 수학적 함수의 개념을 기반으로 한 프로그래밍 기법으로, 데이터 변경을 최소화하고 순수 함수(pure function)를 활용하여 부작용(side effect)을 줄이는 것을 목표로 한다.
: 람다 함수, map(), filter(), reducce()

## 1. 람다 함수(lambda function)
: 람다 함수는 이름이 없는 익명함수(anonymous function)로 한 줄의 표현식으로 작성할 수 있는 함수

```
lambda 매개 변수 : 표현식
```

### [2-40] 일반 함수와 람다 함수 사용 예

In [64]:
def add(x):
    return x + 2
add_lambda = lambda x: x+2
print(add(3))
print(add_lambda(3))

5
5

### [2-41] 람다 함수 예

In [65]:
concat = lambda s1, s2 : s1 + ' ' + s2
print(concat('파이썬','데이터 분석'))

파이썬 데이터 분석

### [2-42] 람다 함수의 정의

In [66]:
is_even = lambda x: '짝수' if x % 2 == 0 else '홀수'
print(is_even(10))
print(is_even(7))

짝수
홀수

### [2-43] 람다 함수의 활용

In [68]:
employees = {'이지혜' : 3000000,
             '구민준' : 5000000,
             '방서연' : 4100000}
adjust_salary = lambda salary: salary * 1.1
updated_salaries = {name: adjust_salary(salary)
                          for name, salary in employees.items()}
print(updated_salaries)

{'이지혜': 3300000.0000000005, '구민준': 5500000.0, '방서연': 4510000.0}

### [2-44] sorted() 함수를 통한 데이터 정렬 예

In [69]:
students = [('김지은', 85),
            ('이민수', 92),
            ('박서현', 78),
            ('정준호', 88),
            ('최유진', 95)]
sorted_students = sorted(students, key = lambda student: student[1])

print('성적 오름차순 정렬 결과: ')
for name, score in sorted_students:
    print(f'{name}: {score}점')

성적 오름차순 정렬 결과:
박서현: 78점
김지은: 85점
정준호: 88점
이민수: 92점
최유진: 95점

In [85]:
#  람다함수와 sorted()함수를 사용하여 점수를 기준으로 내림차순 하는 정렬
students = [('김지은', 85),
            ('이민수', 92),
            ('박서현', 78),
            ('정준호', 88),
            ('최유진', 95)]
sorted_students = sorted(students,
                         key = lambda student: student[1],
                         reverse=True)
for name, score in sorted_students:
    print(f'{name}: {score}점')

최유진: 95점
이민수: 92점
정준호: 88점
김지은: 85점
박서현: 78점

## 2. map, filter, reduce

* map()
    * 적용방식 : 모든 요소에 함수 적용
    * 입출력 관계 : N개의 입력 -> N개의 출력
    * 적용사례 : 데이터 변환
    * 예제 : 리스트의 각 숫자를 제곱
* filter()
    * 적용방식 : 조건을 만족하는 요소만 선택
    * 입출력 관계 : N개의 입력 -> M개의 출력 ( M <= N)
    * 적용사례 : 데이터 필터링
    * 예제 : 리스트에서 짝수만 추출
* reduce()
    * 적용방식 : 요소들을 순차적으로 축소
    * 입출력 관계 : N개의 입력 -> 1개의 출력
    * 적용사례 : 누적 연산(합, 곱 등)
    * 예제 : 리스트의 모든 숫자 곱하기

### [2-45] map 함수 사용 예

In [70]:
temperature_celsius = [25.6, 27.8, 30.5, 22.3, 28.9, 31.2, 24.7]
celsius_to_fahrenheit = lambda c: (c * 9/5) + 32
temperature_fahrenheit = list(map(celsius_to_fahrenheit, temperature_celsius))

print('섭씨 온도 데이터 : ', temperature_celsius)
print('화씨 온도로 변환 : ', temperature_fahrenheit)

섭씨 온도 데이터 :  [25.6, 27.8, 30.5, 22.3, 28.9, 31.2, 24.7]
화씨 온도로 변환 :  [78.08, 82.04, 86.9, 72.14, 84.02, 88.16, 76.46]

### [2-46] map 함수 사용 예(2)

In [71]:
words = ['python', 'data', 'analysis']
uppercase_words = list(map(lambda word: word.upper(), words))
print(uppercase_words)

['PYTHON', 'DATA', 'ANALYSIS']

### [2-47] map 함수 사용 에(3)

In [73]:
employees = [
    {'name' : '김지원', 'salary' : 3700000},
    {'name' : '박민준', 'salary' : 7000000},
    {'name' : '이서연', 'salary' : 4400000},
    {'name' : '정현우', 'salary' : 3500000}
]
updated_employees = list(map(lambda emp : {'name':emp['name'],
                                           'salary':emp['salary'] * 1.1}, employees))
print('\n급여 인상 후 : ')
for emp in updated_employees:
    print(f'{emp['name']} : {int(emp['salary']):,}원')

급여 인상 후 :
김지원 : 4,070,000원
박민준 : 7,700,000원
이서연 : 4,840,000원
정현우 : 3,850,000원

### [2-48] filter() 함수 사용 예(1)

In [74]:
numbers = [10, 15, 20, 25, 30]
even_numbers = list(filter(lambda x: x % 2 == 0, numbers))
print(even_numbers)

[10, 20, 30]

### [2-49] filter() 함수 사용 예(2)

In [75]:
osda_students = [
    {'name' : '김지원', 'score' : 85},
    {'name' : '박민준', 'score' : 65},
    {'name' : '이서연', 'score' : 90},
    {'name' : '정현우', 'score' : 55},
    {'name' : '최예은', 'score' : 78}
]
passed_students = list(filter(lambda student: student['score'] > 70, osda_students))
print('70점 이상 합격한 학새 목록:')
for student in passed_students:
    print(f'name : {student['name']}, score: {student['score']}')

70점 이상 합격한 학새 목록:
name : 김지원, score: 85
name : 이서연, score: 90
name : 최예은, score: 78

### [2-50] reduce()함수 사용 예(1)

In [76]:
from functools import reduce
numbers = [1, 2, 3, 4, 5]
total_sum = reduce(lambda x, y :x + y, numbers)
print(total_sum)

15

### [2-51] reduce() 함수 사용 예(2)

In [77]:
from functools import reduce

numbers = [3, 7, 2, 9, 5]
max_value = reduce(lambda x, y : x if x > y else y, numbers)
print(max_value)

9

In [82]:
# reduce()를 사용하여 모든 요소를 곱한 결과를 구하는 코드
from functools import reduce
numbers = [1, 2, 3, 4, 5]
cumulative_product = reduce(lambda x, y: x * y, numbers)
print(cumulative_product)

120