<a href="https://colab.research.google.com/github/Kyoung-mii/Data-Analysis-with-Open-Source_mii/blob/main/Chapter02_PythonForDataAnalysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 2.1 list와 dicationary

## 1. list slicing
```
리스트이름[시작인덱스:끝인덱스:간격]
```
- 시작 인덱스 : 기본값 0, 슬라이싱을 시작할 위치
- 끝 인덱스 : 종료 위치
- 간격 : 기본값 1

### [2-1] 리스트에서 특정 범위 요수 추출

In [1]:
numbers = [10, 20, 30, 40, 50, 60, 70]
subset1 = numbers[0:3]
print(subset1)

[10, 20, 30]

### [2-2] 리스트에서 특정 범위 요소 추출
numbers[ :4] : 시작 인덱스를 생략하여 처음부터 3번 인덱스 까지 추출
numbers[-3:] 끝에서 n번째 인덱스부터 마지막 요소까지 추출 , 음수인덱스는 리스트의 끝에서부터 요소를 선택

In [3]:
numbers = [10, 20, 30, 40, 50, 60, 70]
first_four = numbers[ :4] #[0:4]
print(first_four)
last_three = numbers[-3:] #[-3:7]
print(last_three)

[10, 20, 30, 40]
[50, 60, 70]

### [2-3] 간격을 활용한 리스트 슬라이싱의 예

In [4]:
numbers = [10, 20, 30, 40, 50, 60, 70]
every_other_list = numbers[::2]
print(every_other_list)
reverse_list = numbers[::-1] # 역순
print(reverse_list)

[10, 30, 50, 70]
[70, 60, 50, 40, 30, 20, 10]

### [2-4] 다차원 리스트 슬라이싱 예

In [5]:
matrix = [[1,2,3,4],
          [5,6,7,8],
          [9,10,11,12],
          [13,14,15,16]]
first_two_rows = matrix[:2]
print(first_two_rows)
first_two_cols = [[row[:2] for row in matrix]]
print(first_two_cols)

[[1, 2, 3, 4], [5, 6, 7, 8]]
[[[1, 2], [5, 6], [9, 10], [13, 14]]]

### [2-5] 리스트 슬라이상을 사용한 리스트 값 변경

In [6]:
numbers = [10, 20, 30, 40, 50, 60, 70]
numbers[2:5] = [300,400,500]
print(numbers)

[10, 20, 300, 400, 500, 60, 70]

## 2. list comprehension

```
[표현식 for 변수 in 리스트이름]
[표현식 for 변수 in 리스트이름 if 조건]

```
list, tuple, dictionary, str, set, range

### [2-6] 일반적인 리스트 생성

In [7]:
numbers = []
for i in range(5):
    numbers.append(i)

print(numbers)

[0, 1, 2, 3, 4]

### [2-7] 리스트 컴프리헨션을 사용한 리스트 생성

In [8]:
numbers = [i for i in range(5)]
print(numbers)

[0, 1, 2, 3, 4]

### [2-8] 일반적인 리스트 값 변경을 통한 리스트 생성

In [9]:
numbers = [1,2,3,4,5]
squares = []
for num in numbers:
    squares.append(num**2)

print(squares)

[1, 4, 9, 16, 25]

### [2-9] 리스트 컴프리헨션을 통한 값이 변경된 리스트 생성

In [11]:
numbers = [1,2,3,4,5]
squares = [num**2 for num in numbers]
print(squares)

[1, 4, 9, 16, 25]

### [2-10] 조건을 만족하는 원소만 선택하여 리스트 생성

In [13]:
numbers = [1,2,3,4,5,6,7,8,9,10]
even_numbers = []
for num in numbers:
    if num % 2 == 0:
        even_numbers.append(num)
print(even_numbers)

[2, 4, 6, 8, 10]

### [2-11] 리스트 컴프리헨즈을 사용한 ㅌㄱ정 원소 선택 후 리스트 생성

In [15]:
numbers = [1,2,3,4,5,6,7,8,9,10]
even_numbers = [num for num in numbers if num % 2 == 0]
print(even_numbers)

[2, 4, 6, 8, 10]

### [2-12] 두 리스트의 모든 조합을 포함하는 리스트 생성

In [17]:
list1 = ['사과', '복숭아', '바나나']
list2 = ['주스', '잼', '통조림']
pairs = []
for fruit in list1:
    for product in list2:
        pairs.append((fruit, product))

print(pairs)

[('사과', '주스'), ('사과', '잼'), ('사과', '통조림'), ('복숭아', '주스'), ('복숭아', '잼'), ('복숭아', '통조림'), ('바나나', '주스'), ('바나나', '잼'), ('바나나', '통조림')]

### [2-13] 리스트 컴프리헨션을 사용하여 두 리스트의 모든 조합을 포함한 리스트 생성

In [18]:
list1 = ['사과', '복숭아', '바나나']
list2 = ['주스', '잼', '통조림']
pairs = [(fruit, product) for fruit in list1 for product in list2]
print(pairs)

[('사과', '주스'), ('사과', '잼'), ('사과', '통조림'), ('복숭아', '주스'), ('복숭아', '잼'), ('복숭아', '통조림'), ('바나나', '주스'), ('바나나', '잼'), ('바나나', '통조림')]

## 3. dictionary comprehension

```
{키: 값 for 변수 in 반복가능한객체}
{키: 값 for 변수 in 반복가능한객체 if 조건
```

### [2-14] 일반적인 반복문을 사용한 방법

In [19]:
squares = {}
for i in range(5):
    squares[i] = i ** 2
print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

### [2-15] dictionary comprehension을 사용한 방법

In [20]:
squares = {i : i ** 2 for i in range(5)}
print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

### [2-16] 특정 조건을 적용한 방법

In [21]:
even_squares = {num: num ** 2 for num in range(10) if num % 2 == 0}
print(even_squares)

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

### [2-17] 다양한 조건을 사용한 데이터 필터링

In [22]:
city_population = {'서울':957, '부산':339, '인천':294, '대구':242, '광주':145,
                   '대전':147, '울산':114, '세종':36, '수원':115, '창원':103,
                   '고양':105, '용산':108, '성남':94
                   }
large_cities = {city: pop for city, pop in city_population.items()
                                if pop >= 200}
print('인구 200만 명 이상의 도시', large_cities)

large_short_name_cities = {city:pop for city, pop in city_population.items()
                                if pop >= 300 and '산' in city}
print('인구 300만 명 이상의 \'산\' 글자가 포함된 도시: ', large_short_name_cities )

인구 200만 명 이상의 도시 {'서울': 957, '부산': 339, '인천': 294, '대구': 242}
인구 300만 명 이상의 '산' 글자가 포함된 도시:  {'부산': 339}

### [2-19] 일반적인 딕셔너리 값 변경

In [23]:
scores = {'김철수':45, '이영희':38, '박지성':49 ,'최민수':30, '정수정':42 }
percentage_scores_new = {name:(score/50)*100 for name, score in scores.items()}
print('딕셔너리 컴프리헨션 결과 :', percentage_scores_new)

딕셔너리 컴프리헨션 결과 : {'김철수': 90.0, '이영희': 76.0, '박지성': 98.0, '최민수': 60.0, '정수정': 84.0}