<a href="https://colab.research.google.com/github/Kyoung-mii/Data-Analysis-with-Open-Source_mii/blob/main/pythonForDataAnalysis/dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Dictionary comprehension
* 키-값 쌍으로 이루어진 데이터 구조를 생성하는데 최적화.


```
{키: 값 for 변수 in 반복가능객체}
{키: 값 for 변수 in 반복가능객체 if 조건}
```

## 코드 2-14 : 일반적인 반복문을 사용한 방법

In [1]:
squares = {}
for i in range(5):
    squares[i] = i ** 2

print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

## 코드 2-15 : dictionary comprehension을 사용한 방법

In [2]:
squares = {i : i ** 2 for i in range(5)}
print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

## 코드 2-16 : 특정 조건을 적용한 방법
특정 조건을 만족하는 요소만 선택하여 새로운 dictionary를 생성.

In [4]:
even_squares = {num : num ** 2 for num in range(10) if num % 2 == 0}
print(even_squares)

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

## 코드2-17 : 다양한 조건을 사용한 데이터 필터링
* items() 메서드는 dictionary의 각 항목을 (키,값) 튜플의 리스트로 반환

In [10]:
city_population = {'서울':957, '부산':339, '인천':297, '대구':242, '광주':145,
                   '대전':147, '울산':114, '세종':36, '수원':115, '창원':103,
                   '고양':105, '용인':108, '성남':94}
large_cities = {city: pop for city, pop in city_population.items() if pop >=200}
print('인구 200만 명 이상인 도시 :', large_cities)
large_short_name_cities = {city:pop for city,pop in city_population.items()
                            if pop >=300 and '산' in city}
print('인구 300만 명 이상의 \'산\' 글자가 포함된 도시:', large_short_name_cities)

인구 200만 명 이상인 도시 : {'서울': 957, '부산': 339, '인천': 297, '대구': 242}
인구 300만 명 이상의 '산' 글자가 포함된 도시: {'부산': 339}

## 코드 2-18 : 일반적인 dictionary값 변경

In [7]:
scores = {'김철수':45, '이영희':38, '박지성':49, '최민수':30, '정수정':42}
percentage_scores_old = {}
for name, score in scores.items():
    percentage_scores_old[name]=(score / 50) * 100

print('기존 방식 결과:', percentage_scores_old)

기존 방식 결과: {'김철수': 90.0, '이영희': 76.0, '박지성': 98.0, '최민수': 60.0, '정수정': 84.0}

## 코드 2-19 : dictionary comprehension을 이용한 값 변경

In [9]:
scores = {'김철수':45, '이영희':38, '박지성':49, '최민수':30, '정수정':42}
percentage_scores_old ={name : (score / 50) * 100 for name, score in scores.items()}
print('dictionary comprehension 결과 :', percentage_scores_old)

dictionary comprehension 결과 : {'김철수': 90.0, '이영희': 76.0, '박지성': 98.0, '최민수': 60.0, '정수정': 84.0}