<a href="https://colab.research.google.com/github/Kyoung-mii/Data-Analysis-with-Open-Source_mii/blob/main/pythonForDataAnalysis/lambdaFunction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 람다 함수 (lambda function)
* 이름 없는 익명 함수(anonymous function)로 한 줄의 표현식으로 작성할 수 있는 함수다.
* 일반 함수는 def키워드를 사용하여 여러 줄로 정의할 수 있으며, 재사용성이 높다
* 람다 함수는 한줄로 표현할 수 있으며, 즉시 사용할 수 있는 단순한 연산을 수행할 때 적합
* 람다 함수는 합수를 정의하는 동시에 사용할 수 있으며, 코드의 가독성을 높이고 불필요한 함수 정의를 줄일 수 있는 것이 장점이다. 특히 map(), filter(), sorted()와 같은 함수형 프로그래밍 기법과 함께 사용되며, 데이터 변환 및 필터링을 보다 간결하게 작성할 수 있다.


```
lambda 매개변수 : 표현식
```
* 매개변수 부분은 함수가 받을 인자들의 목록으로 쉼표로 구분. 선택적이므로 필요하지 않을 경우 생략 가능
* 콜론(:) 다음에 오는 표현식은 함수의 반환값을 결정하는 단일 표현식이다.
* 표현식은 단 하나만 허용
* 표현식의 결과는 자동으로 함수의 반환값이 되므로 return키워드를 사용하지 않는다.

## 코드 2-40 : 일반 함수와 람다 함수의 사용 예

In [2]:
def add(x):
    return x + 2

add_lambda = lambda x : x + 2
print(add(3))
print(add_lambda(3))

5
5

## 코드 2-41 : 람다 함수 예

In [4]:
concat = lambda s1, s2 : s1 + ' ' + s2
print(concat('파이썬','데이터 분석'))

파이썬 데이터 분석

## 코드 2-42 : 람다 함수의 정의

In [5]:
is_even = lambda x : '짝수' if x % 2 == 0 else '홀수'
print(is_even(10))
print(is_even(7))

짝수
홀수

## 코드 2-43 : 람다 함수의 활용

In [7]:
employees = {'이지혜':3000000,
             '구민준':5000000,
             '방서연':4100000
}

adjust_salary = lambda salary: salary * 1.1
updated_salaries = {name: adjust_salary(salary) for name, salary in employees.items()}
print(updated_salaries)

{'이지혜': 3300000.0000000005, '구민준': 5500000.0, '방서연': 4510000.0}

## 코드 2-44 : sorted()함수를 통한 데이터 정렬 예
* sorted()함수는 key 매개변수를 통해 정렬 기준을 지정할 수 있기 때문에 lambda student: student[1]표현식은 리스트의 두번째 요소(점수)를 기준으로 정렬

In [10]:
students = [
    ('김지은', 85),
    ('이민수', 92),
    ('박서현', 78),
    ('정준호', 88),
    ('최유진', 95)
]
sorted_students = sorted(students, key = lambda a: a[1])

print('성적 오름차순 정렬 결과 : ')
for name, score in sorted_students:
    print(f'{name} : {score}점')

성적 오름차순 정렬 결과 :
박서현 : 78점
김지은 : 85점
정준호 : 88점
이민수 : 92점
최유진 : 95점