<a href="https://colab.research.google.com/github/Kyoung-mii/Data-Analysis-with-Open-Source_mii/blob/main/pythonForDataAnalysis/stringFormatting.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 문자열 형식 지정
특정 형식의 데이터를 출력해야 하거나, 변수값을 포함한 문자열을 만들어야 하는 경우 등 문자열을 상황에 맞춰 형식화해야 하는 경우
* % 연산자를 사용하는 방법
* str.format()를 활용하는 방법
* f-문자열을 이용하는 방법 : 가독성 향상
    * interplatio을 활용하여 변수를 직접 문자열에 삽입할 수 있는 기능 제공

# C 스타일(% 연산자) formatting
<주요 형식 지정자>
* %d : decimal 출력
* %i : integer 출력 ( = %d)
* %o : octal(8진수) 출력
* %x : 16진수(lowercase) 출력
* %X : 16진수(uppercase) 출력
* %f : 소수점이 있는 실수(float)출력
* %.nf : 소수점 이하 n자리까지 출력
* %e : 지수형 표현(lowercase)
* %E : 지수형 표현(uppercase)
* %g : 일반 실수(%f) 또는 지수형(%e) 중 적절한 형식 선택(소수점 자동 조절)
* %G : %g와 동일하나 대문자 E 사용
* %c : 단일 문자 출력(정수의 ASCII 문자로 변환)
* %s : 문자열 출력
* %% : %문자 출력

## 코드 2-20 : 형식 지정자를 사용한 변수 삽입

In [1]:
item = '프린터'
price = 360000

print('상품명 ; %s, 가격 : %d' %(item, price))

상품명 ; 프린터, 가격 : 360000

# str.format() 메서드를 이용한 포맷팅
중괄호를 표시된 자리 표시자(placeholder)를 사용하여 문자열 내의 특성 위리에 값을 삽입할 수 있게 한다.

```
'문자열 {위치 또는 이름}'.format(인자)
```
<str.format() 기본사용법>
* 위치 인수 (순서대로)
    * '{}'.format(값)
    * '안녕{}'.format('홍길동')  
        안녕홍길동
* 위치 인수 (인덱스 지정)
    * '{0}'.format(값)
    * '{0} {1}'.format('홍길동',30)
        => 홍길동 30
* 키워드 인자
    * '{키워드}'.format(키워드=값)
    * '{name}'.format(name = '홍길동')
      => 홍길동
* 혼합 사용  
    * '{0} {키워드}'.format(값, 키워드=값)
    * '{0} {age}세'.format('홍길동', age=30). => 홍길동 30세

<숫자 표맷 지정자>
* {:d} : 정수
    * '{:d}'.format(123) => 123
* {:f} : 부동소수점
    * '{:f}'.formaat(3.14159) => 3.14159
* {:.2f} : 소수점 둘째자리까지
    * '{:.2f}'.format(3.14159) => 3.14
* {: : 천단위 구분자
    * '{:,}'.format(1234567} => 1,234,567
* {:.1%} : 백분율(소수점 첫째자리)
    * '{:.1%}'.format(0.1234)  => 12.3%

<문자열 모맷팅 지정자>
* {:10} : 10칸 우측정렬
    * '{:10}'.format('hello') => '     hello'
* {:<10} : 10칸 좌측 정렬
    * '{:<10}'.format('hello') => 'hello     '
* {:^10} : 10칸 중앙 정렬
    * '{:^10}'.format('hello') => '  hello  '
* {:>10} : 10칸 우측 정렬(명시적)
    * '{:>10}'.format('hello') => '     hello'
* {:*^10} : 별표로 패딩하며 중앙 정렬
    * '{:*^10}'.format('hello') => '\*\*hello\*\*\*'

## 코드 2-21 str.format() 메서드를 통한 문자열 형식 지정

In [3]:
name = '홍길동'
age = 30
salary = 3500000
tax_rate = 0.1
basic_format = '이름:{}, 나이:{}, 월급:{}원'.format(name,age,salary)
index_format = '직원 {0}의 나이는 {1}세이고, {0}의 세후 월급은 {2}원입니다.'\
    .format(name, age, int(salary * (1-tax_rate)))
keyword_format = '직원정보: 이름: {employee} 나이:{years}세 \
    월급:{income:,}원 세금:{tax:.1%} 실수령액:{net_income:,}원' \
    .format(employee = name, years = age, income = salary, tax = tax_rate,
            net_income = int(salary * (1 - tax_rate)))
print(basic_format)
print(index_format)
print(keyword_format)

이름:홍길동, 나이:30, 월급:3500000원
직원 홍길동의 나이는 30세이고, 홍길동의 세후 월급은 3150000원입니다.
직원정보: 이름: 홍길동 나이:30세     월급:3,500,000원 세금:10.0% 실수령액:3,150,000원

# f-문자열 (formatted string literal)
* 문자열 앞에 'f' 또는 'F' 접두사를 붙임.
* 중괄호를 사용하여 변수나 표현식을 포함시킨다.
* 중괄호 안에는 변수명, 계산식, 함수 호출 등 표현식이 올수 있다.

## 코드 2-22 : f-문자열(1)

In [1]:
name = '홍길동'
age = 30
print(f'이름 : {name}, 나이 : {age}')

이름 : 홍길동, 나이 : 30

## 코드 2-23 : f-문자열(2)

In [4]:
name = '홍길동'
age = 30
salary = 3500000
tax_rate = 0.1
basic_format = f'이름 :{name}, 나이 :{age}, 월급: {salary}원'
index_format = f'직원 {name}의 나이는 {age}세이고, {name}의 세후 월급은 \
    {int(salary * (1 - tax_rate))}원 입니다.'
keyword_format = f'직원정보 : 이름 {name} 나이 : {age}세 \
    월급 : {salary:,}원 세금:{tax_rate:.1%}\
    실수령액 : {int(salary * (1-tax_rate)):,}원'

print(basic_format)
print(index_format)
print(keyword_format)

이름 :홍길동, 나이 :30, 월급: 3500000원
직원 홍길동의 나이는 30세이고, 홍길동의 세후 월급은     3150000원 입니다.
직원정보 : 이름 홍길동 나이 : 30세     월급 : 3,500,000원 세금:10.0%    실수령액 : 3,150,000원