<a href="https://colab.research.google.com/github/Kyoung-mii/Data-Analysis-with-Open-Source_mii/blob/main/pythonForDataAnalysis/unpacking.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 언패킹(unpacking)
* 시퀸스 자료형(list,tuple, string 등)에서 여러개의 값을 개별 변수에 분리하여 할당하는 기능



```
변수1, ..., 변수n-1, 변수n = 시퀸스_객체
변수1, ..., *변수n-1, 변수n = 시퀸스_객체
```

## 코드 2-28 : 언패킹 사용 예(1)

In [3]:
coordinates = (10, 20)
x, y = coordinates
print(f'x좌표:{x}, y좌표:{y}')
rgb = [255, 128, 0]
red, green, blue = rgb
print(f'빨강:{red}, 초록:{green}, 파랑:{blue}')
word = 'ABC'
first, second, third = word
print(f'첫번째 문자:{first}, 두번째 문자:{second}, 세번째 문자:{third}')

x좌표:10, y좌표:20
빨강:255, 초록:128, 파랑:0
첫번째 문자:A, 두번째 문자:B, 세번째 문자:C

## 코드 2-29 : 함수에서 여러 값을 반환하는 언패킹

In [5]:
def get_dataset_stats(values):
    return min(values), max(values), sum(values)/len(values)

data = [12, 8, 21, 17, 5, 32, 14]
minimum, maximum, average = get_dataset_stats(data)
print(f'최소값:{minimum}, 최댓값:{maximum}, 평균{average:.2f}')

최소값:5, 최댓값:32, 평균15.57

## 코드 2-30 : 언패킹 사용 예(2)

In [6]:
student_scores = [
    ('김철수', 85, 92, 78),
    ('이영희', 92, 88, 95),
    ('김철수', 75, 83, 90)
]
for name, database, python, cloud in student_scores:
    average = (database + python + cloud) / 3
    print(f'{name}의 평균 점수 : {average:.1f}')

김철수의 평균 점수 : 85.0
이영희의 평균 점수 : 91.7
김철수의 평균 점수 : 82.7